<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="VeretechLeadPosting.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="ConnStr2" value="Provider=SQLOLEDB; Data Source=AMZESQL01; Initial Catalog=etradein;User ID=app_LDPT; Password=#$M1nIM0v53!; Application Name=LeadPosting; "/>
		<add key="ConnStr" value="Server=AMZESQL01; Initial Catalog=etradein; User ID=app_ETDN; Password=#$M1nIM0v53!; "/>
		<add key="Frequency" value="180"/>
		<add key="MaxTries" value="3"/>
		<add key="PastDays" value="1"/>
		<add key="EmailErrorsTo" value="it@veretech.com"/>
		<add key="CommentsText" value="  THIS LEAD IS POWERED BY INTELLIPRICE. TO LEARN MORE, CALL US AT 800-898-8438"/>
	    	<add key="IPAddress" value="063.240.248.190"/>
		<add key="CGWebID" value="9"/>
		<add key="CGWholesaleID" value="10"/>
		<add key="IPWebID" value="15"/>	
		<add key="SubaruUsername" value="intellipricetest"/>	
		<add key="SubaruPassword" value="testlead"/>
		<add key="DTXUsername" value="0000-1943"/>
		<add key="DTXPassword" value="1943RIT"/>
		<add key="AN_ProviderNameUsed" value="ANTDU"/>
		<add key="AN_ProviderNameNew" value="ANTD"/>
		<add key="NewCarsAffiliateID" value="3011"/>
		<add key="CertificatePolicyDealers" value="1107, 3052, 3053, 1210, 908, 910, 942, 3045, 921"/>
		<add key="FordDealers" value="1107, 3052, 3053, 908, 910, 930, 960, 1113, 9020, 9021, 9022, 9023, 9024, 9025, 9026, 9027, 9028, 9029"/>
		<add key="VeretechLeadPosting.AutoADF.AutoLead" value="http://AMZEWSVC01.blackbookinformation.com/Autolead/adf.asmx"/>
		<add key="VeretechLeadPosting.Starlead.SalesLead" value="http://AMZEWSVC01.blackbookinformation.com/toyotatlf/tlf.asmx"/>
		<add key="VeretechLeadPosting.DTX.DTExchangeAuto" value="https://production.detroittradingexchange.com/DTExchangeAuto.asmx"/>
		<add key="VeretechLeadPosting.AutousaWebSvc.AUSAPost" value="http://secure.autousa.com/ausapost.asmx"/>
		<add key="VeretechLeadPosting.Veretech_AutoUsaADF.AutoUSA-ADF" value="http://AMZEWSVC01.blackbookinformation.com/autousaadf/adf.asmx"/>
		<add key="VeretechLeadPosting.LeadManager.LeadManager" value="http://AMZEWSVC01.blackbookinformation.com/Webservices/LeadManager.asmx"/>
		<add key="VeretechLeadPosting.toyota_TLF.Intermark STAR Sales Lead Service" value="http://tlf.interx2.net/services/starProcessSalesLead.asmx"/>
		<add key="WriteDebugLog" value="0"/>
		<add key="HyundaiUsername" value="hyundaicorpweb\srv_leadexchange"/>	
		<add key="HyundaiPassword" value="$eadXch@nge@3"/>
		<add key="HyundaiSource" value="2"/>	
		<add key="HyundaiPgmCode" value="1540"/>
		<add key="MaxHours" value="24"/>
    <add key="BMWTrilogyUsername" value="1329"/>
    <add key="BMWTrilogyPassword" value="Zu5hugec"/>
 </appSettings>

<applicationSettings>

	 <VeretechLeadPosting.My.MySettings>
   <setting name="VeretechLeadPosting_AutoADF_AutoLead" serializeAs="String">
    <value>http://AMZEWSVC01.blackbookinformation.com/Autolead/adf.asmx</value>
   </setting>
   <setting name="VeretechLeadPosting_AutousaWebSvc_AUSAPost" serializeAs="String">
    <value>http://secure.autousa.com/ausapost.asmx</value>
   </setting>
   <setting name="VeretechLeadPosting_DTX_DTExchangeAuto" serializeAs="String">
    <value>https://production.detroittradingexchange.com/DTExchangeAuto.asmx</value>
   </setting>
   <setting name="VeretechLeadPosting_LeadManager_LeadManager" serializeAs="String">
    <value>http://AMZEWSVC01.blackbookinformation.com/Webservices/LeadManager.asmx</value>
   </setting>
   <setting name="VeretechLeadPosting_StarLead_SalesLead" serializeAs="String">
    <value>http://AMZEWSVC01.blackbookinformation.com/toyotatlf/tlf.asmx</value>
   </setting>
   <setting name="VeretechLeadPosting_toyota_TLF_Intermark_x0020_STAR_x0020_Sales_x0020_Lead_x0020_Service"
    serializeAs="String">
    <value>http://tlf.interx2.net/services/starProcessSalesLead.asmx</value>
   </setting>
   <setting name="VeretechLeadPosting_Veretech_AutousaADF_AutoUSA_ADF"
    serializeAs="String">
    <value>http://AMZEWSVC01.blackbookinformation.com/autousaadf/adf.asmx</value>
   </setting>
   <setting name="VeretechLeadPosting_HyundaiWebSvc_ThirdPartyLeadService"
    serializeAs="String">
    <value>http://prodws.hyundaidealer.com/thirdpartyleadservice.asmx</value>
   </setting>
  </VeretechLeadPosting.My.MySettings>
 </applicationSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network
				  host="AMZESMTP01"
				  port="25"
				  defaultCredentials="true"	/>
			</smtp>
		</mailSettings>
	</system.net>

</configuration>

