<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LeadAssembler.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Etradein" value="Data Source=vtechstg.cbwfu7dlkwwq.us-east-1.rds.amazonaws.com;Initial Catalog=etradein;Persist Security Info=True;User ID=app_ETDN;Password=#$M1nIM0v53!;Application Name=LeadAssembler " />
		<add key="ccare" value="Data Source=vtechstg.cbwfu7dlkwwq.us-east-1.rds.amazonaws.com;Initial Catalog=CCare;Persist Security Info=True;User ID=app_CARE;Password=Veretech;Application Name=LeadAssembler " />
		<add key="EmailErrorsTo" value="itteam@veretech.com" />
		<add key="CopyToRepository" value="YES" />
		<add key="TimeFrequency" value="15" />
		<add key="MaxMinforEmailCheck" value="30" />
		<add key="ANSpanishProviderID" value="567" />
		<add key="UnsubscribeServer" value="AMZEWEB01" />
		<add key="BBOUnsubscribeServer" value="AMZEWEB01" />
		<add key="GMAppraisalPromoBrands" value="PONTIAC,BUICK,CHEVROLET,GMC" />
		<add key="GMAppraisalPromoDealers" value="3045,3035" />
		<add key="GMAppraisalLoyaltyBrands" value="BUICK,CADILLAC,CHEVROLET,OLDSMOBILE,PONTIAC,GMC,SAAB,SATURN,HUMMER" />
		<add key="TextLeadFormatIDs" value="4" />
		<add key="StandardADFFormatIDs" value="5, 9, 10, 11" />
		<add key="OneSourceADFFormatIDs" value="2, 8, 12" />
		<add key="LeadGeneratorFormatIDs" value="15, 16" />
		<add key="PreferSpanish" value="Please note: This customer prefers a Spanish speaking sales person" />
	</appSettings>
 <applicationSettings>
  <LeadAssembler.My.MySettings>
   <setting name="LeadAssembler_LeadManager_LeadManager" serializeAs="String">
    <value>http://AMZEWSVC01.blackbookinformation.com/webservices/leadmanager.asmx</value>
   </setting>
  </LeadAssembler.My.MySettings>
 </applicationSettings>
</configuration>
